.card-container{
  position: relative;
  transition: .8s;
  width: 170px;
  height: 200px;
  margin: 5px;
  &:hover{
    cursor: pointer;
    transform: scale(0.95);
  }
}

.card{
  width: 170px;
  height: 200px;
  align-items: center;
  padding: 5px;
}

.front{
  .icon{
    font-size: 50px;
    transform: translate(0%, -230%);
  }
}

.back{
  .icon{
    color: #37474F;
    position: absolute;
    top: 26%;
    font-size: 110px;
  }
}