@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

/* Typography */
//$font-family-base:Cormorant,Candara;
$font-family-base: Yanone Kaffeesatz;
$font-size-base: 1.4rem;
$border-width: 2px;
$primary: #263238;
$secondary: #ECEFF1;
$theme-colors: (
        "primary": #263238,
        "secondary": #ECEFF1
);

$home-image: url('../media/home.png');
